.table{
    max-width: 600px;
    margin: 0 auto;
}
.phone_number{
    font-size: 18px;
    margin-left: 80px;
    text-align: right;
    display: inline-block;
}
.text{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif ;
}
.button{
    background-color: #fd8300;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 12px;
    width: 180px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}